.filter-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  z-index: 100;
  padding: 1rem 1rem;
  overflow-y: auto;
  background: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  text-align: left;

  .project-description {
    h3 {
      font-size: 1.5em;
      font-weight: normal;
      margin: 0;
      margin-bottom: 8px;
    }

    .mode-label {
      margin-top: 16px;
      font-weight: 700;
    }

    .mode-select {
      margin: 8px 0;
    }
  }

  .filter-element {
    display: block;
    margin-top: 1rem;
    // margin-top: auto;
    // margin-bottom: auto;

    &:first-child {
      margin-top: 0;
    }

    .filter-element-label {
      margin-bottom: .5rem;
      font-weight: 600;
      letter-spacing: 0.1rem;
    }

    .count {
      float: right;
      color: #aaa;
    }
  }

  .bp3-radio {
    margin-bottom: 0;
    padding: 5px 0;

    &:hover {
      background-color: rgba(106, 166, 255, 0.2);
    }

    .bp3-control-indicator {
      outline: none !important;
    }
  }

  .text-filter {
    // width: 150px;
  }

  .homolog-filter {
    // padding-left: 34px !important;
  }
}
