.tooltip {
    position: absolute;
    padding: .5rem 1rem;
    background: rgba(255, 255, 255, 1.0);
    // border: #aaa solid 1px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    text-align: left;
    z-index: 10000;
    pointer-events: none;

    .gene-name {
        display: inline-block;
        font-weight: 600;
    }

    .prop {
        display: flex;
        margin-top: .1rem;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-grow: 0;

        & > * {
            flex-grow: 1;
        }

        &:first {
            margin-top: 0m;
        }

        .name {
            display: inline-block;
            width: 140px;
            font-weight: 600;
            color: #aaa;

            .accent {
                color: #32886f;
            }
        }

        .value {
            display: inline-block;
            width: 200px;
            margin-left: .5rem;
        }
    }
}
