.tooltip {
    position: absolute;
    padding: .5rem 1rem;
    background: #fff;
    border: #aaa solid 1px;
    text-align: left;
    z-index: 10000;

    .gene-name {
        display: inline-block;
        font-weight: 600;
    }

    .prop {
        display: flex;
        margin-top: .1rem;
        flex-direction: row;
        flex-wrap: nowrap;
        flex-grow: 0;

        & > * {
            flex-grow: 1;
        }

        &:first {
            margin-top: 0m;
        }

        .name {
            display: inline-block;
            width: 100px;
            font-weight: 600;
            color: #aaa;
        }

        .value {
            display: inline-block;
            width: 200px;
            margin-left: .5rem;
        }
    }
}
